h1{
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    display: flex;
    padding-left: 10px;
}

button{
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    padding-left: 35px;
    margin: 4px;
    height: 50px;
    display: flex;
    align-items: center;
    
}

button:hover{
    color: wheat;
    font-size: 18px;
    transition: 0.5s;
    background: rgba(207, 207, 207, 0.301);
}

#navbar{
    color: white;
    background: #010e35ef;
    display: flex;
    flex-direction: column;
    width: 17vw;
    height: 96vh;
    margin: 0px;
}