#main{
    display: flex;
    flex-direction: column;
}


#header{
    width: 82vw;
}

#stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#stats p,h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    font-weight: bold;
}
#stats p{
    color: rgb(97, 96, 96);
}



.MoneyCards{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    background: #f5f0f0;
    border-radius: 10px;
    width: 300px;
    height: 80px;
    
}

#charts{
    width: 82vw;
    height: 65vh;
    display: flex;   
    align-items: center;
}

#salesCharts{
    width: 100%;
    height: 60%;
}

